<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="form-container">
      <form action="/admin/form" method="POST" target="_blank">
        <input type="text" name="name" placeholder="Tu nombre..." /><button
          type="submit"
        >
          Send
        </button>
      </form>
    </div>
    <div class="cow">
      <a href="/cows.jpg">Quiero ver una vaca</a>
    </div>
  </body>
</html>
